// Mixins
// Bootstrap Button Variant
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}
@mixin body-font {
  font-family: 'Open Sans', serif;
}
@mixin heading-font {
  font-family: 'Open Sans', serif;
}

@mixin header-link-font {
  font-family: 'Roboto', serif;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}


@mixin transition {
    -moz-transition:    .3s linear;
    -o-transition:      .3s linear;
    -webkit-transition:.3s linear;
    transition:         .3s linear;
}


