// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// Font Family Variables


// Restate Bootstrap Variables

$white:    #fff !default;
$lightgray: #eee !default;
$verylightgray: #fafafa !default;
$gray-100: #f8f9fa !default;
$gray-200: #dddddd !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$header-link-border:#1877ca !default;
$header-link-background:#1f83da !default;
$header-link-background-hover:#1e88e5 !default;

   
$logogreen:#44d74b !default;
$logoblue:#39bad1 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fda607 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$pureyellow:#FFEB3B;

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
//page heading colors

/*Theme Colors*/
$subheading:#464343 !default;
$themepink:#ed5894;	
$darkpink:#d0417b;	
$themelightpink:#ffcad4;
$themewhite:#fcfcfc;	
$themelightyellow:#fffae3;	
$themelightorange:#f7af9d;	
$loadercolor:#ed5894;
$inputbg:#ed6ca438;
$themelightpink: #f58bb6;;